@import url('https://fonts.googleapis.com/css?family=Boogaloo&display=swap');

.titre{
    text-align: center ;
    color: rgb(224, 221, 28);
}
body{
    background-image: url("../img/70297.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-position:left;

} 
p{
    font-family: 'Boogaloo', cursive;
    color: aquamarine;
    font-weight: bolder;
  font-style: oblique;
}
h3{
    color: rgb(220, 20, 210);
    font-size: 25px;
}
.order{
    color: rgb(53, 214, 226);
    font-weight: bolder;
    font-family: 'Boogaloo', cursive;
   
}
a{
    color: rgb(236, 3, 3); 
    text-decoration: none;
    font-style: italic; 
font-weight: bold;

}



a:hover{
    color: rgb(184, 144, 11);
    text-decoration: underline;
}

a:visited{
    color: rgb(54, 247, 54);
}
