@import url('https://fonts.googleapis.com/css?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Coustard&display=swap');


.titre{
    color: rgb(224, 221, 28);
    text-align: center;

}

body{
    background-image: url("../img/70297.jpg");
    background-attachment: fixed,local;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

} 

p
{
    font-family: 'Squada One', cursive;
    color: aquamarine;
    font-weight: initial;
    font-size: 20px;

}
h3{
    color: rgb(220, 20, 210);
    font-size: 25px;
}
.order{
    color: rgb(53, 214, 226);
    font-weight: initial;
    font-family: 'Coustard', serif;

    font-size: 15px;
   
}
a{
    color: rgb(236, 3, 3); 
    text-decoration: none;
    font-style: italic; 
font-weight: bold;

}



a:hover{
    color: rgb(184, 144, 11);
    text-decoration: underline;
}

a:visited{
    color: rgb(54, 247, 54);
}
