@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');   /* importation des nouveaux style d'ecriture */
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amaranth&display=swap');
body{
    background-image: url("../img/544750.jpg") ; /* Arriere Plan Pour les Pages */
    height: 100%;
    background-size: cover;   /* la taille de l'arriere plan est taille de couverture */
    background-repeat: no-repeat;
    background-attachment: fixed ,local ;
}
    
.button1{                          /* bouton avec la couleur #555 et d'arriere plan blanc et de radius de 75%"  */
    width: 150px;
    height: 40px;
    border:none;                  
	padding:6px 0 6px 0; 
	border-radius:75%;
	border-bottom:7px solid #4753f3;
	font:bold 13px Arial;
	color:#555;
	background:#fff;
	box-shadow:2px 2px 3px #999;
    border-top:2px solid #59cd27; 
    margin-top: 30px;
    margin-left: 73%;
    margin-right: 15px;
    position: absolute;
    font-family: 'Amaranth', sans-serif;  /* appel a l'importation de style d'ecriture*/
    font-size: 15px;                      /* taille d'ecriture*/
}

.button2{
    width: 150px;
    height: 40px;
    border:none;                  
	padding:6px 0 6px 0; 
	border-radius:75%;
	border-bottom:7px solid #4753f3;
	font:bold 13px ;
	color:#555;
	background:#fff;
	box-shadow:2px 2px 3px #999;
    border-top:2px solid #59cd27; 
    margin-top: 30px;
    margin-left: 85%;
    margin-right: 15px;
    position: absolute;
    font-family: 'Amaranth', sans-serif;
    font-size: 15px;
}

.button3{   
       width: 150px;
    height: 40px;
    border:none;                  
	padding:6px 0 6px 0; 
	border-radius:75%;
	border-bottom:7px solid #4753f3;
	font:bold 13px Arial;
	color:#555;
	background:#fff;
	box-shadow:2px 2px 3px #999;
    border-top:2px solid #59cd27;
    margin-top: 30px;
    margin-left: 61%;
    margin-right: 15px;
    position: absolute;
    font-family: 'Amaranth', sans-serif;
    font-size: 15px;
}

.bio{
    display: block;   /* le design de la zone du text "textarea" de la page "inscription.html" */
    width: 50%;
    height: 70px;   
    font-family: Poppins-Medium ;
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    padding: 0 5px;
    border-radius: 20px;
}

.cord4{                   /* le design de checkbox  */
    width: 30%;
    height: 20px;
    font-family: Poppins-Medium;
    font-size: 18px;
    border-radius: 20px;
}

p{              /* C'est la paragraphe de la page "home.html" avec le couleur du text jaune */
font-size: 50px; 
color: #ece251;
font-family: 'Indie Flower', cursive;
}

.text{
    width: 572px;    
    height: 100%;   
}

.image{         
    
    width: 700px;
    height: 400px; 
    left:600px;
    top:220px;
    position:absolute;
    border-radius: 40%;
    opacity: 0.3;
}

.ajout{
    position: absolute;
    left:400px;
    top:200px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.5) ;
  border-radius: 30px;
  font-family: 'Lobster', cursive;
  padding: 42px 55px 45px 55px;
  font-size: 25px;
}

.formu{
    position: absolute;
    left:400px;
    top:200px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.5) ;
  border-radius: 30px;
  padding: 42px 55px 45px 55px;

}

.cord3{                    /* le design de quelques champ du formulaire */
    display: block;
    width: 50%;
    height: 30px;   
    font-family: Poppins-Medium;
    font-size: 18px;
    color: rgb(0, 160, 80);
    line-height: 1.2;
    padding: 0 5px;
    border-radius: 50px;

}

.cord2{              /* Ce design est appliqué sur la formulaire de la page "connexion.html" et page "ajout.html" */ 
    display: block; 
    width: 100%;
    height: 30px;
    font-family: Poppins-Medium;
    font-size: 18px;
    color: rgb(0, 160, 80);
    line-height: 1.2;
    padding: 0 5px;
    border-radius: 50px;
}

.inscrit{
    font-weight: bolder;
    font-style: oblique;
    font-family: 'Amaranth', sans-serif;
    
}

.other_buttons{           /* les boutons de deux tableaux de la page "acceuil.html" */ 
    width: 25%;
    border-radius:12px 0 12px 0;
	background: red;
	border:none;
	color:#fff;
	font:bold 12px Verdana;
	padding:6px 0 6px 0;
}

.goals{               /* button qui envoi vers la page "ajout.html" */
    width:90px ;
    border:none;
	padding:6px 0 6px 0;
	border-radius:12px 0 12px 0;
	border-bottom:6px solid #4753f3;
	font:bold 13px ;
	color:#555;
    background:rgb(189, 188, 188);
    font-family: 'Amaranth', sans-serif;
    font-size: 20px;
    
}
.table1{            /* le premier tableau avec une bordure jaune et un arriere  plan blanc transparent */
    border-radius: 20px;
    width: 100%;
    height: 200px;
    border: solid gold;
    background-color: rgb(255, 255, 255,0.7);
    font-family: 'Merienda', cursive;
}

.table2{            /* la deuxieme tableau avec une bordure bleu et arriere plan blanc transparent */
    border-radius: 20px;
    width: 100%;
    height: 210px;
    border: outset blue;
  background-color: rgb(255, 255, 255,0.7);
  font-family: 'Amaranth', sans-serif;
}

.done{
    font-size: 30px;
    color:  rgb(68, 202, 68);
    font-family: 'Merienda', cursive;  
}

.home{
    text-align: left;
}

.commande{ 
    width: 100%;
    height: 200px;
}

.logo{      /* logo est une image de la page HOME et qui envoi l'utilisateur apres le click sur le logo vers la page "home.html" */
    background-image: url("../img/maisons-de-toit-27459142.jpg");
    border:1px solid #a511c0;
    border-radius:200px;   
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 100px;
    height: 120px;
    width: 32%;
    position: absolute;
    margin-bottom: 15px;
}

.btn-warning{        /* C'est un autre design design de boutons qui a le couleur orangé et lorsque on met le souris sur lui il devient jaune  */
    background: #ff6600;
    color:white;
    width: 30%;
    height: 50px;
    display: block;
    position: relative;
    border-radius: 25px;
    left: 130px;
}